*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: grey;
}
.container{
    width: 300px;
    height: auto;
    margin: auto;
    background: rgb(10, 10, 10);
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.container-white{
    background: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    filter: invert(100);
    -webkit-filter: invert(100);
    width: 20px;
}
.night{
    content:url("./icons/moon.svg");
}
header .img-night{
    filter: invert(0);
    -webkit-filter: invert(0);
}
.x{
    content: url("./icons/x.svg")
}
.screen-container{
    height: 150px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#answer-screen{
    font-size: 3vw;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
}
#input-screen{
    font-size: 1.5vw;
    margin-top: 15px;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
}
.keyboard-container{
    margin-top: 20px;
}
.number-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;   
}
.number-container:last-child{
    margin-bottom: 0;
}
.number{
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.equals{
    width: 120px;
    background: rgba(250, 255, 248, 0.672);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.light-black{
    background: rgb(45, 43, 43);
}
.grey{
    background: rgba(223, 229, 221, 0.672);
}
.not-black{
    background: rgb(19, 18, 18);
}
.number-black{
    background: rgb(19, 18, 18); 
}
body::-webkit-scrollbar{
    width: 5px;
    height: 2px
}
@media screen and (max-width: 768px) {
    #answer-screen{
        font-size: 25px;
    }
    #input-screen{
        font-size: 20px;
    }   
    
}
